<GridLayout columns="{{columnWidth}}, {{columnWidth}}, {{columnWidth}}, {{columnWidth}}, {{columnWidth}}" rows="auto, auto, auto, auto, auto">
    <Button col="0" row="0" text="1" (tap)="onTapValue(1)" class="btn btn-rounded-sm"></Button>
    <Button col="1" row="0" text="2" (tap)="onTapValue(2)" class="btn btn-rounded-sm"></Button>
    <Button col="2" row="0" text="3" (tap)="onTapValue(3)" class="btn btn-rounded-sm"></Button>
    <Button col="3" row="0" text="4" (tap)="onTapValue(4)" class="btn btn-rounded-sm"></Button>
    <Button col="4" row="0" text="5" (tap)="onTapValue(5)" class="btn btn-rounded-sm"></Button>

    <Button col="0" row="1" text="6" (tap)="onTapValue(6)" class="btn btn-rounded-sm"></Button>
    <Button col="1" row="1" text="7" (tap)="onTapValue(7)" class="btn btn-rounded-sm"></Button>
    <Button col="2" row="1" text="8" (tap)="onTapValue(8)" class="btn btn-rounded-sm"></Button>
    <Button col="3" row="1" text="9" (tap)="onTapValue(9)" class="btn btn-rounded-sm"></Button>
    <Button col="4" row="1" text="10" (tap)="onTapValue(10)" class="btn btn-rounded-sm"></Button>

    <Button col="0" row="2" text="11" (tap)="onTapValue(11)" class="btn btn-rounded-sm"></Button>
    <Button col="1" row="2" text="12" (tap)="onTapValue(12)" class="btn btn-rounded-sm"></Button>
    <Button col="2" row="2" text="13" (tap)="onTapValue(13)" class="btn btn-rounded-sm"></Button>
    <Button col="3" row="2" text="14" (tap)="onTapValue(14)" class="btn btn-rounded-sm"></Button>
    <Button col="4" row="2" text="15" (tap)="onTapValue(15)" class="btn btn-rounded-sm"></Button>

    <Button col="0" row="3" text="16" (tap)="onTapValue(16)" class="btn btn-rounded-sm"></Button>
    <Button col="1" row="3" text="17" (tap)="onTapValue(17)" class="btn btn-rounded-sm"></Button>
    <Button col="2" row="3" text="18" (tap)="onTapValue(18)" class="btn btn-rounded-sm"></Button>
    <Button col="3" row="3" text="19" (tap)="onTapValue(19)" class="btn btn-rounded-sm"></Button>
    <Button col="4" row="3" text="20" (tap)="onTapValue(20)" class="btn btn-rounded-sm"></Button>

    <Button col="0" row="4" text="bull" (tap)="onTapBull()" class="btn btn-rounded-sm"></Button>
    <Button col="1" row="4" text="double" (tap)="onTapDouble()" class="btn btn-rounded-sm" [ngClass]="{'btn-primary': highlightDouble}"></Button>
    <Button col="2" row="4" text="triple" (tap)="onTapTriple()" class="btn btn-rounded-sm" [ngClass]="{'btn-primary': highlightTriple}"></Button>
    <Button col="5" row="4" text="miss" (tap)="onTapMiss()" class="btn btn-rounded-sm"></Button>

</GridLayout>
