<ActionBar>
    <GridLayout columns="*, auto" rows="auto" width="100%">
        <Label text="{{gameType}}" row="0" col="0"></Label>
        <StackLayout class="throw-indicator" row="0" col="1">
            <GridLayout columns="20, 20, 20" *ngIf="game && game.state.winner==undefined">
                <Label text="{{game.state.currentTurnMoves > 0 ? '->' : ''}}" row="0" col="0"></Label>
                <Label text="{{game.state.currentTurnMoves > 1 ? '->' : ''}}" row="0" col="1"></Label>
                <Label text="{{game.state.currentTurnMoves > 2 ? '->' : ''}}" row="0" col="2"></Label>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ActionBar>
<DockLayout>
    <StackLayout dock="bottom" *ngIf="game && game.state.winner==undefined">
        <ns-score-input
                [highlightDouble]="hitType == hitTypeEnum.DOUBLE"
                [highlightTriple]="hitType == hitTypeEnum.TRIPLE"
                (hit)="onHit($event)"
                (doubleTapped)="onDoubleTapped()"
                (tripleTapped)="onTripleTapped()"
                (miss)="onMiss()"
        ></ns-score-input>
    </StackLayout>
    <StackLayout dock="top" *ngIf="game && game.state.winner!==undefined">
        <Label text="Winner: {{game.players[game.state.winner]}}"></Label>
        <Button text="New game" [nsRouterLink]="['/choose-game']" pageTransition="slide"
                clearHistory="true"></Button>
    </StackLayout>
    <StackLayout dock="top" *ngIf="game && game.state.winner==undefined">
        <Button text="Undo" (tap)="onUndoTapped()"></Button>
    </StackLayout>
    <ListView dock="center" #playerListView [items]="playerListItems" dock="top"
              *ngIf="game && game.state.winner==undefined">
        <ng-template let-player="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="30, 50%, 50%">
                <Label text="*" *ngIf="player.isCurrent" row="0" col="0"></Label>
                <Label text="{{player.name}}" row="0" col="1"></Label>
                <Label text="{{player.score}}" row="0" col="2"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</DockLayout>
