<ActionBar title="{{gameType}}" class="action-bar">
</ActionBar>
<ScrollView>
    <StackLayout>
        <RadListView row="1" [items]="players" itemReorder="true" (itemReordered)="onItemReordered($event)">
            <ng-template tkListItemTemplate let-item="item" let-i="index">
                <StackLayout orientation="horizontal">
                    <Label [text]="item.name" class="nameLabel"></Label>
                    <Button text="X" col="0" row="0" (tap)="deletePlayer(index)"></Button>
                    <Button *ngIf="!item.checked" text="Select" col="2" row="0" (tap)="togglePlayer(item)"></Button>
                    <Button *ngIf="item.checked" text="Deselect" col="2" row="0" (tap)="togglePlayer(item)"></Button>
                </StackLayout>
            </ng-template>
        </RadListView>
        <StackLayout>
            <Button text="Add player" (tap)="addPlayer()"></Button>
            <Button [ngClass]="{ 'btn-active': hasPlayers }" text="Start game" (tap)="startGame()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
